:root {
    --accent: #286c93;
    --surface: #ebebeb;
    --surface-variant: #dedede;
    --text: #3c3c3c;
    --text-strong: #2c2c2c;
    --text-weak :#7c7c7c;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--surface);
    color: var(--text);
    font-family: 'Droid Sans Mono', 'monospace', monospace;
    margin: 0;
}

nav {
    position: absolute;
    padding: 1em;
    z-index: 1;

    a {
        font-size: 1.2em;
        color: var(--text);
        text-decoration: none;
    }
}

#cover {
    position: relative;

    height: 100vh;
    width: 100%;
    padding: 15em 5em;

    h1 {
        font-size: 4em;
        font-weight: normal;
        margin-bottom: 0;
    }
    
    img {
        position: absolute;
        bottom: 0;
        right: 0;

        max-width: 25em;

        /* reflect horizontally */
        transform: scaleX(-1);
    }
}

@media (max-width: 768px) {
    #cover {
        padding: 10em 2em;

        h1 {
            font-size: 2em;
        }

        img {
            max-width: 15em;
        }
    }
}
