:root {
    --accent: #286c93;
    --surface: #ebebeb;
    --surface-variant: #dedede;
    --text: #3c3c3c;
    --text-strong: #2c2c2c;
    --text-weak :#7c7c7c;
}

body {
    background-color: var(--surface);
    color: var(--text);
    font-family: sans-serif;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}
